<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= Setting.get('title') %></title>
  <%= stylesheet_link_tag 'reset', 'application' %>
</head>
<body>
  <%= yield %>
</body>
</html>